<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                {{globals.switchLanguageValue.common_trips}}
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a  class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a  class="m-nav__link">
                        <span class="m-nav__link-text">
                            {{globals.switchLanguageValue.common_trips}}
                        </span>
                    </a>
                </li>
                <!-- <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Trips
                        </span>
                    </a>
                </li> -->
            </ul>
        </div>
        <div>

        </div>
    </div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        {{globals.switchLanguageValue.common_trips}}
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">

            <p-dataTable [value]="trip" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[1,5,10,20,25]" [totalRecords]="totalRecords"
                [lazy]="true" (onLazyLoad)="getAllTrips($event)" scrollable="true" sortMode="multiple" [globalFilter]="gb" #dt
                [hidden]="showEditForm">
              <p-column header="{{globals.switchLanguageValue.common_vehicles}}" [sortable]="true" [style]="{'width':'170px'}" styleClass="text-left m-datatable__cell--center m-datatable__cell">
                <ng-template let-userdt="rowData" pTemplate="body">
                    <span style="width: 170px;">
                        <div class="row">
                            <div class="col-4">
                               <img alt="drivers" class="m--img-rounded m--marginless m--img-centered" src="{{userdt.vehicle_photo}}" width="30px" height="30px">
                              
                            </div>
                            <div class="col-8 c-form_group">
                                <p>{{userdt.registration_number}}</p>
                            </div>
                        </div>
                      </span>
                </ng-template>
                </p-column>
                <p-column header="{{globals.switchLanguageValue.driver_driver}}" [sortable]="true" [style]="{'width':'170px'}" styleClass="text-left m-datatable__cell--center m-datatable__cell">
                    <ng-template let-userdt="rowData" pTemplate="body">
                        <span style="width: 170px;">
                            <div class="row">
                                <div class="col-4">
                                   <img alt="drivers" class="m--img-rounded m--marginless m--img-centered" src="{{userdt.driver_photo}}" width="30px" height="30px">
                                  
                                </div>
                                <div class="col-8 c-form_group">
                                    <p>{{userdt.driver_name}}</p>
                                </div>
                            </div>
                          </span>
                    </ng-template>
                </p-column>
                <p-column field="trip_start" header="{{globals.switchLanguageValue.trips_trip_start}}" [sortable]="true" [style]="{'width':'150px'}" styleClass="text-left m-datatable__cell--center m-datatable__cell"></p-column>
                <p-column [style]="{'width':'150px'}" field="trip_end" header="{{globals.switchLanguageValue.trips_trip_end}}" [sortable]="true" styleClass="text-left m-datatable__cell--center m-datatable__cell"></p-column>
                <p-column [style]="{'width':'150px'}" field="trip_status" header="{{globals.switchLanguageValue.trips_trip_status}}" [sortable]="true" styleClass="text-left m-datatable__cell--center m-datatable__cell">
                </p-column>
                <p-column [style]="{'width':'150px'}" field="name" header="{{globals.switchLanguageValue.trips_distance}}" [sortable]="true" styleClass="text-left m-datatable__cell--center m-datatable__cell"></p-column>
                <p-column [style]="{'width':'150px'}" field="name" header="{{globals.switchLanguageValue.trips_duration}}" [sortable]="true" styleClass="text-left m-datatable__cell--center m-datatable__cell"></p-column>
                <p-column [style]="{'width':'150px'}" styleClass="col-button">
                    <ng-template let-userdt="rowData" pTemplate="body">
                        <a class="m-nav__link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                            title="Edit ">
                            <i class="fa fa-eye"></i>
                        </a>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>



<!--<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Trips
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" id="ajax_data" style="">
                <table class="m-datatable__table" id="m-datatable--952839221580" style="display: block; height: auto; overflow-x: auto;">
                    <thead class="m-datatable__head">
                        <tr class="m-datatable__row" style="height: 53px;"> 
                            <th data-field="RecordID" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--sort"><span style="width: 150px;">Vehicles </span></th>
                            <th data-field="OrderID" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 150px;">Driver</span></th>
                            <th data-field="ShipCountry" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 150px;">Trip Start</span></th>
                            <th data-field="ShipCity" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 150px;">Trip End</span></th>
                            <th data-field="Currency" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Trip Status</span></th>
                            <th data-field="ShipCity" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Distance</span></th>
                            <th data-field="Currency" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Duration</span></th>
                            <th data-field="ShipDate" class="m-datatable__cell m-datatable__cell--sort" data-sort="asc"><span style="width: 100px;"></span></th>
                        </tr>
                    </thead>
                    <tbody class="m-datatable__body" style="">
                        <tr data-row="0" class="m-datatable__row m-datatable__row--even" style="height: 55px;">
                            <td data-field="RecordID" class="m-datatable__cell--center m-datatable__cell">
                                <span style="width: 150px;">
                                    <div class="row">
                                        <div class="col-4">
                                            <img alt="user" class="m--img-rounded m--marginless m--img-centered" src="../../assets/images/user5.jpg" width="40px">
                                        </div>
                                        <div class="col-8 c-form_group">
                                            <p class="text-left mrgntop10">TS 05 ED 6236</p>
                                        </div>
                                    </div>
                                </span>
                            </td>
                            <td data-field="RecordID" class="m-datatable__cell--center m-datatable__cell">
                                <span style="width: 150px;">
                                    <div class="row">
                                        <div class="col-4">
                                            <img alt="user" class="m--img-rounded m--marginless m--img-centered" src="../../assets/images/user5.jpg" width="40px">
                                        </div>
                                        <div class="col-8 c-form_group">
                                            <p class="text-left mrgntop10">Ram Mohan<br /> Venkatraman</p>
                                        </div>
                                    </div>
                                </span>
                            </td>


                            <td data-field="OrderID" class="m-datatable__cell"><span style="width: 150px;">Hyderabad<br>2-12-2017 17:30</span></td>
                            <td data-field="ShipCountry" class="m-datatable__cell"><span style="width: 150px;">Hyderabad<br>5-12-2017 5:30</span></td>
                            <td data-field="ShipCity" class="m-datatable__cell"><span style="width: 100px;">Completed</span></td>
                            <td data-field="ShipCity" class="m-datatable__cell"><span style="width: 100px;">7500 KM</span></td>
                            <td data-field="ShipCity" class="m-datatable__cell"><span style="width: 100px;">60 Hours</span></td>

                            <td data-field="Actions" class="m-datatable__cell"><span style="overflow: visible; width: 100px;">
                            <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="View Details"><i class="fa fa-eye"></i></a></span>
                            </td>
                        </tr>
                         <tr data-row="0" class="m-datatable__row m-datatable__row--even" style="height: 55px;">
                            <td data-field="RecordID" class="m-datatable__cell--center m-datatable__cell">
                                <span style="width: 150px;">
                                    <div class="row">
                                        <div class="col-4">
                                            <img alt="user" class="m--img-rounded m--marginless m--img-centered" src="../../assets/images/user5.jpg" width="40px">
                                        </div>
                                        <div class="col-8 c-form_group">
                                            <p class="text-left c-nomargin">TS 05 ED 6236</p>
                                        </div>
                                    </div>
                                </span>
                            </td>
                            <td data-field="RecordID" class="m-datatable__cell--center m-datatable__cell">
                                <span style="width: 150px;">
                                    <div class="row">
                                        <div class="col-4">
                                            <img alt="user" class="m--img-rounded m--marginless m--img-centered" src="../../assets/images/user5.jpg" width="40px">
                                        </div>
                                        <div class="col-8 c-form_group">
                                            <p class="text-left c-nomargin">Ram Mohan<br /> Venkatraman</p>
                                        </div>
                                    </div>
                                </span>
                            </td>

                            <td data-field="OrderID" class="m-datatable__cell"><span style="width: 150px;">Hyderabad<br>2-12-2017 17:30</span></td>
                            <td data-field="ShipCountry" class="m-datatable__cell"><span style="width: 150px;">Hyderabad<br>5-12-2017 5:30</span></td>
                            <td data-field="ShipCity" class="m-datatable__cell"><span style="width: 100px;">Running </span></td>
                            <td data-field="ShipCity" class="m-datatable__cell"><span style="width: 100px;">7500 KM</span></td>
                            <td data-field="ShipCity" class="m-datatable__cell"><span style="width: 100px;">60 Hours</span></td>

                            <td data-field="Actions" class="m-datatable__cell"><span style="overflow: visible; width: 100px;">
                            <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="View Details"><i class="fa fa-eye"></i></a></span>
                            </td>
                        </tr>
   
                        

                    </tbody>
                </table>
                <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                    <ul class="m-datatable__pager-nav">
                        <li><a title="First" class="m-datatable__pager-link m-datatable__pager-link--first m-datatable__pager-link--disabled" data-page="1" disabled="disabled"><i class="la la-angle-double-left"></i></a></li>
                        <li><a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev m-datatable__pager-link--disabled" data-page="1" disabled="disabled"><i class="la la-angle-left"></i></a></li>
                        <li style="display: none;"><a title="More pages" class="m-datatable__pager-link m-datatable__pager-link--more-prev" data-page="1"><i class="la la-ellipsis-h"></i></a></li>
                        <li style="display: none;">
                            <input type="text" class="m-pager-input form-control" title="Page number">
                        </li>
                        <li style=""><a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active" data-page="1" title="1">1</a></li>
                        <li style=""><a class="m-datatable__pager-link m-datatable__pager-link-number" data-page="2" title="2">2</a></li>
                        <li style=""><a title="More pages" class="m-datatable__pager-link m-datatable__pager-link--more-next" data-page="7"><i class="la la-ellipsis-h"></i></a></li>
                        <li><a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2"><i class="la la-angle-right"></i></a></li>
                        <li><a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" data-page="35"><i class="la la-angle-double-right"></i></a></li>
                    </ul>
                    <div class="m-datatable__pager-info">
                        <div class="btn-group bootstrap-select m-datatable__pager-size" style="width: 70px;">
                            <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="Select page size"><span class="filter-option pull-left">10</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
                            </button>
                            <div class="dropdown-menu open" role="combobox">
                                <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                    <li data-original-index="1" class="selected"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text">10</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                    <li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">20</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                    <li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">30</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                    <li data-original-index="4"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">50</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                    <li data-original-index="5"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">100</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                </ul>
                            </div>

                        </div><span class="m-datatable__pager-detail">Displaying 1 - 10 of 350 records</span></div>
                </div>
            </div>

        </div>
    </div>
</div>-->