<div class="m-portlet m-portlet--tab">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Badges
                </h3>
            </div>
        </div>
    </div>

    <div class="m-portlet__body">
        <div class="m-section">
            <h3 class="m-section__heading">
                Wide Badges
            </h3>
            <span class="m-section__sub">
                Wide badges for longer text
            </span>
            <div class="m-section__content">
                <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                    <div class="m-demo__preview m-demo__preview--badge">
                        <span class="m-badge m-badge--brand m-badge--wide">
                            new
                        </span>
                        <span class="m-badge m-badge--metal m-badge--wide">
                            pending
                        </span>
                        <span class="m-badge m-badge--primary m-badge--wide">
                            203
                        </span>
                        <span class="m-badge m-badge--success m-badge--wide">
                            hot
                        </span>
                        <span class="m-badge m-badge--info m-badge--wide">
                            fixed
                        </span>
                        <span class="m-badge m-badge--warning m-badge--wide">
                            in process
                        </span>
                        <span class="m-badge m-badge--danger m-badge--wide">
                            completed
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>