<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
  <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
  <!-- BEGIN: Aside Menu -->
  <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
      <!-- <li class="m-menu__item m-menu__item--submenu " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a routerLink="/superadmin" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-dashboard"></i>
          <span class="m-menu__link-title">
            <span class="m-menu__link-wrap">
              <span class="m-menu__link-text">
                {{globals.switchLanguageValue.Dashboard_key}}
              </span>
              <span class="m-menu__link-badge">
                <span class="m-badge m-badge--danger">
                  2
                </span>
              </span>
            </span>
          </span>
        </a>
        <div class="m-menu__submenu" style="width:155px;height:5px;">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a class="m-menu__link">
								<span class="m-menu__link-text">
									{{globals.switchLanguageValue.Dashboard_key}}
								</span>
							</a>
						</li>
					</ul>
				</div>
      </li> -->
      <!-- <li class="m-menu__section">
        <h4 class="m-menu__section-text">
          {{globals.switchLanguageValue.menu_formcomponents}}
        </h4>
        <i class="m-menu__section-icon flaticon-more-v3"></i>
      </li>
       -->
      <li class="m-menu__item m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
        <a routerLink="excelupload" class="m-menu__link">
          <i class="m-menu__link-icon fa fa-vcard-o"></i>
          <span class="m-menu__link-text">
            Excel Upload
          </span>
        </a>
        <div class="m-menu__submenu" style="width:155px;height:5px;">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
              <a class="m-menu__link">
                <span class="m-menu__link-text">
                  CGI Details
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="m-menu__item m-menu__item--submenu" *ngIf="globals.getprofileaction == null ? true : globals.getprofileaction.UserController"
    routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" >
        <a routerLink="manage_users" class="m-menu__link">
        <i class="m-menu__link-icon fa fa-users"></i>
        <span class="m-menu__link-text">
          MANAGE USERS
        </span>
        </a>
        <div class="m-menu__submenu" style="width:155px;height:5px;">
          <span class="m-menu__arrow"></span>
          <ul class="m-menu__subnav" >
            <li class="m-menu__item m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
              <a class="m-menu__link">
                <span class="m-menu__link-text">
                  MANAGE USERS
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
	  <li class="m-menu__item m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
	  <a routerLink="add_queue" class="m-menu__link">
		<i class="m-menu__link-icon fa flaticon-statistics"></i>
		<span class="m-menu__link-text">
		  QUEUE
		</span>
    </a>
    <div class="m-menu__submenu" style="width:155px;height:5px;">
      <span class="m-menu__arrow"></span>
      <ul class="m-menu__subnav" >
        <li class="m-menu__item m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
          <a class="m-menu__link">
            <span class="m-menu__link-text">
              QUEUE
            </span>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="m-menu__item m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
      <a routerLink="all_casepage" class="m-menu__link">
      <i class="m-menu__link-icon fa flaticon-interface-8"></i>
      <span class="m-menu__link-text">
        ALL CASE
      </span>
      </a>
      <div class="m-menu__submenu" style="width:155px;height:5px;">
        <span class="m-menu__arrow"></span>
        <ul class="m-menu__subnav" >
          <li class="m-menu__item m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
            <a class="m-menu__link">
              <span class="m-menu__link-text">
                ALL CASES
              </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    
      <li class="m-menu__item m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover">
          <a routerLink="permissions" class="m-menu__link">
          <i class="m-menu__link-icon la la-unlock"></i>
          <span class="m-menu__link-text">
            PERMISSIONS
          </span>
          </a>
          <div class="m-menu__submenu" style="width:155px;height:5px;">
            <span class="m-menu__arrow"></span>
            <ul class="m-menu__subnav" >
              <li class="m-menu__item m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                <a class="m-menu__link">
                  <span class="m-menu__link-text">
                     PERMISSIONS
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
    </ul>
  </div>
  <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
