<div class="form-group m-form__group {{ this.formGroupCssClass }} {{this.inline ? 'row inlineformrow' : '' }}">
	<label *ngIf="label" for="{{identifier}}" class="{{labelCssClass}}" >
		{{label}}
		<span *ngIf="this.validators && this.validators.length > 0" class="validationindicator">*</span>
	</label>
	<div class="{{textBoxDivCssClass}}">
		<div class="{{textBoxGroupCssClass}}">
			<input type="hidden" [(ngModel)]="value" #field="ngModel" name="{{name}}" >
			<select class="form-control m-select2 m-select2--air" 
				[id]="identifier" [disabled]="disabled">
				<option value="" disabled selected *ngIf="placeholder">{{placeholder}}</option>
				<option *ngFor="let option of options" value="{{option[optionsValueField]}}" [ngValue]="option[optionsValueField]" >
					{{option[optionsTextField]}}</option>
			</select>
		</div>
		<validation class="{{model.control.touched ? 'ng-touched' : 'ng-untouched'}} {{ (invalid | async) ? 'invalid' : ''}}"
			[@flyInOut]="'in,out'"
			*ngIf="(invalid | async)"
			[messages]="failures | async">
		</validation>
		<div *ngIf="helpText" class="m-form__help">
			{{helpText}}
		</div>
	</div>
</div>