<div class="m-content">
	<div class="row">
		<div class="col-md-12">
			<div class="m-portlet m-portlet--tab">
						<app-tabs></app-tabs>
			</div>
			<!--Alerts Air Style -->
			<div class="m-portlet m-portlet--tab">
				<app-alerts></app-alerts>  
			 </div> 
			 <div class="m-portlet m-portlet--tab">
				<app-modal></app-modal>
			 </div> 
			 <div class="m-portlet m-portlet--tab">
				<app-list></app-list>
			 </div> 
			 <div class="m-portlet m-portlet--tab">
				<app-badges></app-badges>
			 </div>
			 <div class="m-portlet m-portlet--tab">
				<app-portlettabs></app-portlettabs>
			 </div>
			 <div class="m-portlet m-portlet--tab">
				<app-gridnav></app-gridnav>
			 </div>
			 
		</div>
	</div>
</div>