<div class="typeaheadcomponent form-group m-form__group {{ this.formGroupCssClass }} {{this.inline ? 'row inlineformrow' : '' }}">
	<label *ngIf="label" for="{{identifier}}" class="{{labelCssClass}}" >
		{{label}}
		<span *ngIf="this.validators && this.validators.length > 0" class="validationindicator">*</span>
	</label>
	<div class="{{textBoxDivCssClass}}">
		<div class="{{textBoxGroupCssClass}}">
			<input typeahead-focus-first=false  showHint="{{showHint}}" editable="{{restrictToOptionsOnly}}" 
				class="form-control m-input m-input--air {{cssClass}} {{ (invalid | async) ? 'invalid' : ''}}" 
				role="combobox"
				[id]="identifier" placeholder="{{placeholder}}" 
				type="text" [(ngModel)]="value" #field="ngModel" name="{{name}}"
				[ngbTypeahead]="searchOptionsData" [inputFormatter]="searchDataFormatter"
				[resultFormatter]="searchDataFormatter"
				(click)="fireClick($event)" (change)="fireChange($event)" (blur)="fireBlur($event)" 
				(focus)="fireFocus($event)" (selectItem)="itemSelected($event)">
			<span *ngIf="prependIcon.length > 0" class="m-input-icon__icon m-input-icon__icon--left">
				<span>
					<i class="{{prependIcon}}"></i>
				</span>
			</span>
			<span *ngIf="appendIcon.length > 0" class="m-input-icon__icon m-input-icon__icon--right">
				<span>
					<i class="{{appendIcon}}"></i>
				</span>
			</span>
		</div>
		<validation class="{{model.control.touched ? 'ng-touched' : 'ng-untouched'}} {{ (invalid | async) ? 'invalid' : ''}}"
			[@flyInOut]="'in,out'"
			*ngIf="(invalid | async)"
			[messages]="failures | async">
		</validation>
		<div *ngIf="helpText" class="m-form__help">
			{{helpText}}
		</div>
	</div>
</div>